@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model APLICACIONASPRMVC.Models.Db.Automobile
@{
    ViewData["Title"] = "Crear Auto";
}





<div class="row">
    <div class="col-sm-12">

        <div class="card border">
            <div class="card-header">
                <h3 class="text-center">Crear Auto</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Auto" asp-action="Crear" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Vin" class="control-label"></label>
                        <input asp-for="Vin" class="form-control" />
                        <span asp-validation-for="Vin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AutomobileId" class="control-label"></label>

                        <input asp-for="AutomobileId" class="form-control" />
                        <span asp-validation-for="AutomobileId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>

                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Make" class="control-label"></label>

                        <input asp-for="Make" class="form-control" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>

                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BranchOfficeId" class="control-label"></label>

                        <input asp-for="BranchOfficeId" class="form-control" />
                        <span asp-validation-for="BranchOfficeId" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Crear Usuario</button>

                    </div>

                </form>

            </div>

        </div>
    </div>

</div>



